{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://127.0.0.1:8000/"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content>
    <link rel="stylesheet" href='{% static "equi_app/css/main.css" %}'>
    <link rel="shortcut icon" type="image/png" href="{% static 'equi_app/favicon.ico' %}" />
    <script type="text/javascript" src='{% static "equi_app/js/jquery-3.6.3.min.js" %}'></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="http://underscorejs.org/underscore-min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
    <script type='text/javascript' src='{% static "equi_app/js/render-scene-graph.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "equi_app/css/joint.min.css" %}'/>
    <script src='{% static "equi_app/js/dagre.min.js" %}'></script>
    <script src='{% static "equi_app/js/graphlib.min.js" %}'></script>
    <script src='{% static "equi_app/js/joint.js" %}'></script>
    <!-- <meta name="theme-color" content="#712cf9"> -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ query_idx }}">
                <img class="me-2" src="{% static 'equi_app/img/logo-white.png' %}" alt="Logo" height="24" class="d-inline-block align-text-top">
                EQUI-VOCAL
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% if query_idx == 0 %}
                        <a class="nav-link active" href="0">Query 1</a>
                        {% else %}
                        <a class="nav-link" href="0">Query 1</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if query_idx == 1 %}
                        <a class="nav-link active" href="1">Query 2</a>
                        {% else %}
                        <a class="nav-link" href="1">Query 2</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if query_idx == 2 %}
                        <a class="nav-link active" href="2">Query 3</a>
                        {% else %}
                        <a class="nav-link" href="2">Query 3</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if query_idx == 3 %}
                        <a class="nav-link active" href="3">Live Query</a>
                        {% else %}
                        <a class="nav-link" href="3">Live Query</a>
                        {% endif %}
                    </li>
                </ul>
                <a class="btn btn-success" href="prep_data" role="button">Select data</a>
            </div>
        </div>
    </nav>
    <div class="container pt-5 h-100">
        <span class="lead">Target Query: {{ query_text }} </span>
        <button id='image-graph-popover' type="button" class="btn btn-primary btn-sm ms-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-custom-class="custom-popover" data-bs-title="Scene graph visualization" data-bs-content='<div id="image-graph" class="row"></div>' data-bs-html="true">
            Scene Graph
        </button>
        <button type="button" class="btn btn-primary btn-sm ms-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-custom-class="custom-popover" data-bs-title="Datalog rules" data-bs-content="<pre>{{ query_datalog }}</pre>" data-bs-html="true">
            Datalog
        </button>
        {% if config is not None %}
        <button type="button" class="btn btn-primary btn-sm ms-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-custom-class="custom-popover" data-bs-title="System configuration" data-bs-content="<div>{{ config }}</div>" data-bs-html="true">
            Configuration
        </button>
        {% else %}
        <button id='config-popover' type="button" class="btn btn-primary btn-sm ms-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-custom-class="custom-popover" data-bs-title="System configuration" data-bs-content='<div id="config-form" class="row"></div>' data-bs-html="true">
            Configuration
        </button>
        {% endif %}

        <div class="row h-75 pt-5">
            <div class="col-7 mh-100">
                <div class="border h-100 p-2 overflow-scroll">
                    <div id="main-container" class="m-3">
                        <h3 class="mb-3">Search on Training Data</h3>
                        <h5>Initialization</h5>
                        <div id="gallery" class="d-flex flex-wrap border border-1 border-secondary">
                            {% for video_path, label in video_paths %}
                            <div class="card m-1">
                                <video width="150" controls autoplay loop muted class="p-2">
                                    <source src="{% static video_path %}" type="video/mp4"> Your browser does not
                                    support the video tag.
                                </video>
                                <div class="card-body btn-group btn-group-sm p-2" role="group" aria-label="Binary label of the video segment">
                                    {% if label == 1 %}
                                    <input type="radio" class="btn-check" name="btnradio_{{ forloop.counter0 }}" id="btnradio1_{{ forloop.counter0 }}" autocomplete="off" checked>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="btnradio_{{ forloop.counter0 }}" id="btnradio1_{{ forloop.counter0 }}" autocomplete="off" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;" for="btnradio1_{{ forloop.counter0 }}">Positive</label>

                                    {% if label == 1 %}
                                    <input type="radio" class="btn-check" name="btnradio_{{ forloop.counter0 }}" id="btnradio2_{{ forloop.counter0 }}" autocomplete="off" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="btnradio_{{ forloop.counter0 }}" id="btnradio2_{{ forloop.counter0 }}" autocomplete="off" checked>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .7rem;" for="btnradio2_{{ forloop.counter0 }}">Negative</label>
                                  </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center pt-3">
                            <div id="btn" class="btn-group">
                                <button type="button" class="btn btn-outline-primary" onclick="showMoreSegments()">Show
                                    me
                                    more</button>
                                {% if query_idx == 3 %}
                                <button type="button" class="btn btn-outline-primary"
                                    onclick="iterativeSynthesis('live')">Ready to
                                    go!</button>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary"
                                    onclick="iterativeSynthesis('init')">Ready to
                                    go!</button>
                                {% endif %}
                            </div>
                        </div>
                        <!-- <div id="prediction"></div> -->
                    </div>
                </div>
            </div>
            <div class="col-5 mh-100">
                <div class="border h-100 p-2 overflow-scroll">
                    <div id = "prediction-container" class="p-3">
                        <h3 class="mb-3">Best Query on Test Data</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ query_scene_graph |json_script:"render-scene-graph" }}
    <script type="text/javascript" src='{% static "equi_app/js/main.js" %}'></script>
</body>

</html>