{% load static %}

html, body {
    height: 100%;
}

.overflow-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.overflow-scroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.popover {
    max-width: 800px !important;
}

g text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.object rect{
    fill:rgba(255,0,0,0.3);
}
.pred rect{
    fill:rgba(0,255,0,0.3);
}
.attr rect{
    fill:rgba(0,0,255,0.3);
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}